.deps/
gv/aclocal.m4
gv/autom4te.cache/
gv/config.log
gv/config.status
gv/configure
gv/configurelink-warning.h
gv/depcomp
gv/doc/gv.1
gv/doc/gv.info
gv/doc/stamp-vti
gv/doc/texinfo.tex
gv/doc/version.texi
gv/doc/version.texi.deps
gv/GV
gv/INSTALL
gv/install-sh
gv/lib/*.a
gv/lib/*.o
gv/missing
gv/src/ac_config.h
gv/src/ac_config.h.in
gv/src/gv
gv/src/GV.ad
gv/src/gv_class.ad
gv/src/gv_class.h
gv/src/gv_intern_res_unix.dat
gv/src/gv_intern_res_unix.h
gv/src/gv_make_res.dat
gv/src/gv_spartan.h
gv/src/gv_system.ad
gv/src/gv-update-userconfig
gv/src/gv_user.ad
gv/src/gv_widgetless.h
gv/src/*.o
gv/src/stamp-h1
Makefile
Makefile.in
gv/compile
gv/config.guess
gv/config.sub
gv/lib/signal.h
gv/lib/alloca.h
gv/lib/arg-nonnull.h
gv/lib/c++defs.h
gv/lib/fcntl.h
gv/lib/getopt.h
gv/lib/inttypes.h
gv/lib/stdlib.h
gv/lib/sys/
gv/lib/time.h
gv/lib/unistd.h
gv/lib/warn-on-use.h
gv/lib/wchar.h
gv/src/gv-i18n.h
gv/gv-*
*-
*~
*.err
junk*
nightly*log
